.App {
    margin: auto;
    align-items: center;
    text-align: center;
    width: 85%;
    justify-content: space-around;
  }
  
  #pImages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
    cursor: pointer;
  }
  
  
  